.content {
  padding-bottom: 80px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
    .content {
      font-size: 0.9em;
    }
}

.content img {
  max-width: 100%;
}

.content table {
  font-size: 0.9em;
  margin: auto;
  width: 100%;
}

thead tr {
  text-align: left;
  background-color: #f1f1f1;
}

th, td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

th {
  font-weight: 600;
}

table tbody tr td {
  border-color: rgb(105, 105, 105);
  border-width: thin;
  border-style: dotted;
}

/* START SECTION #1
  Add margin to the top of headings to better separate headings 
*/ 
article .content h2 {
  margin-top: 1.5em;
}

article .content h3 {
  margin-top: 1em;
}

article .content h4 {
  margin-top: 0.8em;
}

article .content h5 {
  margin-top: 0.6em;
}

article .content h6 {
  margin-top: 0.4em;
}
/* END SECTION #1: */


.highlight pre {
  padding: 0.5em;
}

.link-no-color {
  color: black;
}

.link-no-color-hover:hover {
  color: black;
  text-decoration: none;
}

header > section {
  margin-bottom: 2em;
}

h1,h2,h3,.h1,.h2,.h3,.h4 {
  font-weight: 200;
}

.latest-post-font {
  font-size: 0.8em; 
  line-height: 1.8em;
}

.font-sm {
  font-size: 0.65em;
}

.font-md {
  font-size: 0.85em;
}

/* Code Highlight */
.highlight {
  font-size: 0.85em;
}
