{{ "<!-- Bootstrap -->" | safeHTML }}
<link rel="stylesheet" href="{{ "dist/bootstrap-4.5.0-dist/css/bootstrap.min.css" | relURL }}">

{{ "<!-- Stylesheets -->" | safeHTML }}
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">

<link rel="stylesheet" href="{{ "dist/fontawesome-free-5.14.0-web/css/all.min.css" | relURL }}" />
<link rel="stylesheet" href="https://voh.nipwd.com/greenstatic.dev.css" />

{{ "<!--Favicon-->" | safeHTML }}
<link rel="shortcut icon" href="{{ "images/favicon.ico" | relURL }} " type="image/x-icon">
<link rel="icon" href="{{ "images/favicon.ico" | relURL }} " type="image/x-icon">
