<!-- Post -->
<div class="card mb-4">
  <div class="card-body">
    <h2 class="card-title h4">
      <a class="link-no-color link-no-color-hover" href="{{ .Permalink | relURL }}">{{ .Title }}</a>
    </h2>

    <div class="mb-2 ">
      {{ range .Params.categories }}
        <a href="{{ "/categories/" | relURL }}{{ . | urlize }}" class="badge badge-primary font-sm">{{ . }}</a>
      {{ end }}

      {{ range .Params.tags }}
        <a href="{{ "/tags/" | relURL }}{{ . | urlize }}" class="badge badge-secondary font-sm">{{ . }}</a>
      {{ end }}
    </div>

    <div class="text-muted latest-post-font">
      {{.Date.Format "January 2, 2006"}}
    </div>

    <p class="card-text latest-post-font">{{ .Summary }}</p>
  </div>
</div>